.header {

    height: 1200px;
    background-image: url(../../Assests/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

@media only screen and (max-width:688px) {
    .header {
        margin-bottom: 150px;
    }
}